.badge {
  background-color: tomato;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
.ellipsis {
  background-color: tomato;
  width: 6px;
  height: 6px;
  display: flex;
  border-radius: 50%;
}
